<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member Agreement</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="static/images/image.png">
  <link rel="stylesheet" href="static/member-agreement.css">
</head>

<body>
  <div class="agreement-container">
    <h3>Member Agreement & Signature Section</h3>
    <p>I, the undersigned, confirm that I have read and understood the
      <strong>Developing KMC Youth Group Policy</strong>. I agree to follow all guidelines, responsibilities, rules, and
      expectations stated in this document. I understand that failure to follow the policy may result in guidance,
      correction, or disciplinary action by the leaders. By signing this agreement, I choose to be a committed,
      responsible, and respectful member of the Group.
    </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>